* {
    box-sizing: border-box;
    margin: 0.2 em;
    font-family: Arial, Helvetica, sans-serif;
}

.header,
.footer {
    background-color: #555;
    height: 8vh;
}

.header,
.copyright {
    color:#f0f8ff;
}

.apptitle {
    margin-left: -10px;
}

.footer .biancobtn {
    display: none;
}

.footer:hover .biancobtn {
    display: block;
}

.copyright {
    margin-top: 10px;
}

.biancobtn {
    padding-top: 10px;
}

.compulsory {
    color: rgb(175, 0, 0);
}

.hidden {
    display: none;
}